<!--<h1>Add New User</h1>
<form action="/users" method="post" accept-charset="UTF-8">
    <fieldset>
        <legend>New User:</legend>
        <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">
        <label for="username">Username: </label>
        <input id= "username" name = "user[username]" type="text">
        <br><br>
        <label for="email">Email: </label>
        <input id= "email" name = "user[email]" type="text">
        <br><br>
        <label for="password">Password: </label>
        <input type="password" name="user[password]" id="password">
        <br><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>-->

<!--<h1>Add New User</h1>-->
<%#= form_tag("/users", method:"post") do %>
    <%#= label_tag(:username,"Username: ")%>
    <%#= text_field_tag(:username)%>
<!--     <br><br>-->
    <%#= label_tag(:email,"Email: ")%>
    <%#= text_field_tag(:email)%>
<!--     <br><br>-->
    <%#= label_tag(:password,"Password: ")%>
    <%#= password_field_tag(:password)%>
<!--     <br><br>-->
    <%#= submit_tag 'Submit' %>
<%#end%>

<h1>Add New User</h1>

<%= form_tag('/users', method: :post) do %>
  <fieldset>
    <legend>New User:</legend>
    <%= label_tag(:user_username,"Username: ")%>
    <%= text_field_tag 'user[username]' %>
    <br><br>
    <%= label_tag(:user_email,"Username: ")%>
    <%= text_field_tag 'user[email]' %>
    <br><br>
    <%= label_tag(:user_password,"Username: ")%>
    <%= password_field_tag 'user[password]' %>
    <br><br>
    <%= submit_tag 'Submit' %>
  </fieldset>
<% end %>
